/* Sidebar styling */
.sidebar {
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    transition: width 0.3s ease, padding 0.3s ease;
    width: 230px;
    overflow: hidden;
    padding: 20px;
  }

  .sidebar-title {
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    margin-left: -50px !important;
  }
  .sidebar .nav-link {
    color: #000;
    white-space: nowrap;
    transition: opacity 0.3s ease;
  }

  .sidebar .nav-link:hover {
  background-color: #f0f0f0;
  border-radius: .25rem;
}
.sidebar .nav-link.active {
  border-left: 4px solid #000; /* Bootstrap primary color */
  border-radius: .25rem;
  font-weight: 500;
}

.content {
    background-color: #fff;
    margin-left: 230px;
    padding: 20px;
    transition: margin-left 0.3s ease;
    overflow-y: hidden;
  }
  .content.collapsed {
    margin-left: 70px;
  }